# top-down challenge notebook

## Q1. 카카오 아레나 - 태그 있는거 찾아서 넣고, 나머지는 기존 인기곡/태그로 채우기

- val.json 플레이리스트 데이터에서 태그 있는 플레이리스트 대상
- 해당 태그로 train.json 검색
- 태그1 검색 -> 태그2 검색 -> ... 이런식으로 계속 반복
  - 단, 해당 태그 제외하고 10개 될 때 까지 검색. 노래도 마찬가지로 100개 될 때까지 검색
  - 10개, 100개가 안 되면..?
    - 인기곡/태그로 채우기

수정하면 어떻게 되지..?

---

In [3]:
import pandas as pd
pd.options.display.max_rows = 1000
pd.set_option('display.max_colwidth', None) # 50

### val

In [4]:
val = pd.read_json('res/val.json', typ='frame')

In [5]:
len(val)

23015

In [6]:
val.head(7)

                  tags      id  ... like_cnt                updt_date
0                   []  118598  ...     1675  2019-05-27 14:14:33.000
1                   []  131447  ...        1  2014-07-16 15:24:24.000
2                   []   51464  ...       62  2008-06-21 23:26:22.000
3                   []   45144  ...       20  2017-10-30 18:15:43.000
4                   []   79929  ...       20  2017-02-07 11:40:42.000
5  [비, 분위기, 컨트리, 서정적인]  138538  ...        2  2019-06-12 17:43:35.000
6                   []  127575  ...        2  2011-10-28 11:21:51.000

[7 rows x 6 columns]

In [7]:
val_with_tags = val[ val['tags'].apply(len).gt(0) ]

In [8]:
len(val_with_tags)

11605

### TODO: val_with_tags for loop

val_with_tags + val_without_tags

In [9]:
val_with_tags

                                  tags  ...                updt_date
5                  [비, 분위기, 컨트리, 서정적인]  ...  2019-06-12 17:43:35.000
8                               [스트레스]  ...  2017-02-09 17:33:45.000
11                      [아침, 눈, 크리스마스]  ...  2017-11-24 11:26:05.000
12                               [EDM]  ...  2016-09-19 15:40:31.000
17                               [생각나]  ...  2016-03-19 23:53:20.000
...                                ...  ...                      ...
23007             [휴식, 포크, 커피, 2000년대]  ...  2019-12-17 17:55:11.000
23008  [sweetmind, 발라드, 사랑, 기분전환, 역주행]  ...  2020-02-07 14:42:25.000
23009                            [알앤비]  ...  2015-07-21 17:06:45.000
23010                            [잔잔한]  ...  2015-12-17 14:06:05.000
23011      [어머니, 힘들때, 아빠, 가족, 위로받고싶을때]  ...  2020-04-16 21:35:44.000

[11605 rows x 6 columns]

### train

In [10]:
train = pd.read_json('res/train.json')

In [11]:
tags = train['tags']

In [12]:
searched_train = train[ tags.apply(lambda x: '비' in x) ] # search keyword

In [13]:
searched_train.head()

                                              tags  ...                updt_date
118        [비오는날, 감성, 비, 아련, 발라드, 멜로, OST, 치명, 사랑]  ...  2020-04-10 00:08:52.000
148                   [비오는날, 비_오는_날, 휴식, 비_오는날, 비]  ...  2020-02-16 00:56:45.000
782                               [불면증, 새벽, 겨울, 비]  ...  2020-03-14 13:48:43.000
1058                     [비오는날, 장마, 비오는날듣기좋은노래, 비]  ...  2019-10-03 22:25:01.000
1215  [숨은명곡, 감성, 비, 카페, 드라이브, 휴식, 기분전환, 산책, 인디, 밤]  ...  2018-07-05 18:47:17.000

[5 rows x 6 columns]

In [14]:
rec_tags = []
rec_songs = []

for index, row in searched_train.iterrows(): # row: series

    # 태그 추출
    row_tags = row.tags
    for tag in row_tags: # row_tags: list
        if len(rec_tags) >= 10:
            break
        if '비' not in tag: # search keyword
            rec_tags.append(tag)

    # 노래 추출
    row_songs = row.songs
    for song in row_songs: # row_songs: list
        if len(rec_songs) >= 100:
            break
        rec_songs.append(song)

    if len(rec_tags) >= 10 and len(rec_songs) >= 100:
        break

print(rec_tags)
print(rec_songs)

['감성', '아련', '발라드', '멜로', 'OST', '치명', '사랑', '휴식', '불면증', '새벽']
[452316, 148785, 399636, 356564, 333768, 672355, 262019, 299789, 150653, 10232, 572932, 514134, 75118, 598294, 170159, 393436, 552496, 535097, 469459, 16634, 54614, 299107, 35603, 378146, 318996, 446875, 301977, 686043, 94809, 623183, 468612, 341556, 502749, 266820, 66897, 46046, 506883, 520379, 348895, 386218, 176424, 464140, 642481, 542099, 549149, 120974, 30020, 32690, 405206, 563262, 630884, 121860, 133091, 527764, 468136, 260894, 22845, 148876, 133143, 305761, 238285, 561025, 342925, 222141, 87920, 276092, 252823, 37888, 586300, 152422, 165281, 667100, 605326, 537527, 671380, 453121, 92356, 67756, 357367, 435053, 15341, 246531, 595562, 93156, 473256, 186156, 53849, 255065, 182368, 606703, 41587, 530256, 61552, 320835, 543097, 692123, 621969, 200267, 271531, 109903]

In [15]:
val_with_tags = val_with_tags.reset_index()

In [16]:
val_with_tags.drop('index', axis=1, inplace=True)

In [23]:
val_with_tags.head()

                  tags      id  ... like_cnt                updt_date
0  [비, 분위기, 컨트리, 서정적인]  138538  ...        2  2019-06-12 17:43:35.000
1               [스트레스]   80810  ...      127  2017-02-09 17:33:45.000
2       [아침, 눈, 크리스마스]  136650  ...        6  2017-11-24 11:26:05.000
3                [EDM]   53131  ...      268  2016-09-19 15:40:31.000
4                [생각나]    2380  ...        6  2016-03-19 23:53:20.000

[5 rows x 6 columns]